*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --drkClr:#2B358C;
    --lgtClr:#E6E7FF;
    --fntNrml:1rem;
}
body{
    min-height: 100vh;
    
}

header{
    background-color: var(--drkClr);
    padding: 25px 25px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
}
header .logIn{
    display: flex;
    color: white;
}
.logIn img{
    margin-left: 10px;
    transform: rotate(90deg);
    cursor: pointer;
}
.logo h1{
    margin-top: -8px;
    font-size: 1.8rem;
    font-weight: 800;
    font-family: 'Cedarville Cursive', cursive;
    color: white;
}
.logo p{
    font-family: 'Roboto' sans-serif;
    font-size: 13px;
    margin-top: -5px;
    text-align: center;
    font-weight: 500;
    color: white;
}
nav{
    word-spacing: 70px;
}
nav li{
    list-style: none;
    display: inline-block;
    font-family: 'Open Sans' sans-serif;
}
nav li a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: inline-block;
}
nav a:hover{
    transition: 200ms;
    font-weight: bolder;
    transform: scale(1.2);
    color: white;
}


.jobMenu{
    display: none;
    position: absolute;
    top: 9%;
    background-color: var(--lgtClr);
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    left: 37%;
    z-index: 999;
}
.jobMenu p{
    padding: 5px;
    cursor: pointer;
}
.jobMenu p:hover{
    overflow: hidden;
    transition: 200ms;
    border-left: 5px solid var(--drkClr);
}

.compMenu{
    display: none;
    position: absolute;
    top: 9%;
    background-color: var(--lgtClr);
    padding: 10px;
    border-radius: 5px;
    width: 180px;
    left: 46%;
    z-index: 999;
}
.compMenu p{
    padding: 5px;
    cursor: pointer;
}
.compMenu p:hover{
    overflow: hidden;
    transition: 200ms;
    border-left: 5px solid var(--drkClr);
}

.serMenu{
    display: none;
    position: absolute;
    top: 9%;
    background-color: var(--lgtClr);
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    left: 56%;
    z-index: 999;
}
.serMenu p{
    padding: 5px;
    cursor: pointer;
}
.serMenu p:hover{
    overflow: hidden;
    transition: 200ms;
    border-left: 5px solid var(--drkClr);
}


.logins{
    display: none;
    position: absolute;
    top: 9%;
    background-color: var(--lgtClr);
    padding: 10px;
    border-radius: 5px;
    right: 1.5%;
    width: 150px;
}
.logins p{
    padding: 5px;
    cursor: pointer;
}
.logins p:hover{
    overflow: hidden;
    transition: 200ms;
    border-left: 5px solid var(--drkClr);
}


.head{
    padding: 20px;
    margin-top: 4rem;
    color: var(--drkClr);
}
.wrap{
    padding: 20px;
}
.wrap img{
    transform: rotate(90deg);
    cursor: pointer;
}
.ques{
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: .5px;
}
.ans{
    display: none;
    padding: 10px;
    color: grey;
}