*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --drkClr:#2B358C;
    --lgtClr:#E6E7FF;
    --fntNrml:1rem;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{
    background-color: var(--drkClr);
    padding: 25px 25px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
}
header .logIn{
    display: flex;
    color: white;
}
.logIn img{
    margin-left: 10px;
    transform: rotate(90deg);
    cursor: pointer;
}
.logo h1{
    margin-top: -8px;
    font-size: 1.8rem;
    font-weight: 800;
    font-family: 'Cedarville Cursive', cursive;
    color: white;
}
.logo p{
    font-family: 'Roboto' sans-serif;
    font-size: 13px;
    margin-top: -5px;
    text-align: center;
    font-weight: 500;
    color: white;
}
nav{
    word-spacing: 70px;
}
nav li{
    list-style: none;
    display: inline-block;
    font-family: 'Open Sans' sans-serif;
}
nav li a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    display: inline-block;
}
nav a:hover{
    transition: 200ms;
    font-weight: bolder;
    transform: scale(1.2);
    color: white;
}
.forms{
    padding: 30px;
    box-shadow: 5px 5px 15px rgb(65, 65, 65);
}
.field{
    margin: 20px;
}
input{
    width: 400px;
    height: 30px;
    border: 1px solid gray;
    padding-left: 10px;
}

.jobMenu{
    display: none;
    position: absolute;
    top: 9%;
    background-color: var(--lgtClr);
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    left: 37%;
}
.jobMenu p{
    padding: 5px;
    cursor: pointer;
}
.jobMenu p:hover{
    overflow: hidden;
    transition: 200ms;
    border-left: 5px solid var(--drkClr);
}

.compMenu{
    display: none;
    position: absolute;
    top: 9%;
    background-color: var(--lgtClr);
    padding: 10px;
    border-radius: 5px;
    width: 180px;
    left: 46%;
}
.compMenu p{
    padding: 5px;
    cursor: pointer;
}
.compMenu p:hover{
    overflow: hidden;
    transition: 200ms;
    border-left: 5px solid var(--drkClr);
}

.serMenu{
    display: none;
    position: absolute;
    top: 9%;
    background-color: var(--lgtClr);
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    left: 56%;
}
.serMenu p{
    padding: 5px;
    cursor: pointer;
}
.serMenu p:hover{
    overflow: hidden;
    transition: 200ms;
    border-left: 5px solid var(--drkClr);
}


.logins{
    display: none;
    position: absolute;
    top: 9%;
    background-color: var(--lgtClr);
    padding: 10px;
    border-radius: 5px;
    right: 1.5%;
    width: 150px;
}
.logins p{
    padding: 5px;
    cursor: pointer;
}
.logins p:hover{
    overflow: hidden;
    transition: 200ms;
    border-left: 5px solid var(--drkClr);
}


.outer,.outer1,.outer2,.outer3{
    background-color: var(--lgtClr);
    width: 80%;
    padding: 10px;
    border-radius: 15px;
}
.outer p,.outer1 p,.outer2 p,.outer3 p{
    margin-bottom: 3px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-bottom: 1px solid black;
}
.col{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.row1{
    margin: 10px;
}
.prof{
    display: flex;
    padding: 10px;
}
.prof img{
    border: 1px solid var(--drkClr);
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
.cond{
    padding: 10px;
}
.cond p{
    font-size: 12px;
    color: grey;
}
.cond span{
    color: red;
    font-size: 1rem;
    font-size: 700;
}
.btn{
    border-radius: 5px;
    background-color: var(--drkClr);
    padding: 2px;
    width: 60px;
    font-size: 15px;
   height: 20px;
   cursor: pointer;
}
.btn p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 700;
}
.add{
    padding-top: 1px;
    padding-left: 10px;
    display: flex;
}
.add img{
    width: 15px;
    height: 15px;
}
#outer,#outer1,#outer2{
    margin-top: 5rem;
}
#outer3{
    margin-top: 5rem;
}
#outer1,#outer2,#outer3{
    display: none;
}


.popup{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.715);
    position: fixed;
    left: 0;
    top: 50%;
    right:0 ;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms;
}
.popup:target{
    opacity: 1;
    visibility: visible;
}
.message{
    margin-top: 16%;
    margin-left: 30%;
    background-color: var(--lgtClr);
    width: 40%;
    border-radius: 10px;
    padding: 20px;
    padding-left: 100px;
}
.content{
    text-align: center;
    margin-left: -80px;
    padding: 10px;
}
.content button{
    margin-top: 10px;
}
.content p,h1{
    margin-top: 10px;
}
.content a{
    text-decoration: none;
    color: white;
}

footer{
    margin-top: 5rem;
    display: block;
    background-color: var(--drkClr);
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.headLogo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   margin-bottom: 30px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links h4{
    color: white;
}
.canLinks h4,.empLinks h4,.lglLinks h4{
    margin-top: -20px;
}
.links ol{
    color: white;
    list-style-type: none;
}
.links ol li{
    font-size: 14px;
    margin: 10px 0px;
    cursor: pointer;
}
.cmtBox{
    display: flex;
    flex-direction: column;
}
.cmtBox input{
    width: 200px;
    height: 20px;
    border-radius: 3px;
    background-color: var(--lgtClr);
    border: none;
    margin: 3px 0px;
}
.cmtBox textarea{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--lgtClr);
    border: none;
    margin: 3px 0px;
    resize: none;
}

.cmtBox input::placeholder,.cmtBox textarea::placeholder{
    font-size: 12px;
    padding-left: 5px;
}
.cmtBox button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lgtClr);
    padding: 2px;
    border-radius: 3px;
    border: none;
    margin: 3px 0px;
    width: 50px;
    height: 15px;
    cursor: pointer;
}
.cmtBox button:hover{
    background-color: #d3d3fa;
}
.cmtBox .social{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cmtBox .social img{
    width: 20px;
    height: 20px;
    margin: 5px 0px;
}
.cmtBox .social img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #E6E7FF;
    padding: 7px;
    color: white;
    font-size: 14px;
}
.con2{
    display: flex;
    align-items: center;
}
.con2 p{
    margin: 0px 30px;
}
.foot{
    margin-bottom: 10px;
}





.links ol li a{
    color: white;
    text-decoration: none;
}
.con2 p a{
    color: white;
    text-decoration: none;
}
.con2 p a:hover{
    color: rgb(255, 247, 0);
}
.links ol li a:hover{
    color: rgb(255, 247, 0);
}